p {
  margin: 0
}

.toast {
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;

  &.success {
    .toast-header {
      background-color: #86da86;
    }

    .toast-body {
      background-color: lighten(#86da86, 20%);
    }
  }

  &.warning {
    .toast-header {
      background-color: #dbca6b;
    }

    .toast-body {
      background-color: lighten(#dbca6b, 20%);
    }
  }

  &.danger {
    .toast-header {
      background-color: #db6b6b;
    }

    .toast-body {
      background-color: lighten(#db6b6b, 20%);
    }
  }
}

.toast-header {
  padding: 16px;
  background-color: #cfcfcf;
}

.toast-body {
  padding: 16px;
  background-color: lighten(#cfcfcf, 15%);
}

.toaster {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* TEST SCREEN */
#screen {
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toast-screen-test {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4775aa;
}